ZJU_USERNAME=
ZJU_PASSWORD=

# For pintia.cn (Optional)
# Copy the Cookie request header from a logged-in browser session.
PINTIA_COOKIE=

# For DingTalk notification(Optional)
ENABLE_DINGTALK=false
DINGTALK_WEBHOOK=
DINGTALK_SECRET=
